footer {
  display: block;
  background-color: blueviolet;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem 1rem 0 0;
  margin: 0px 10px;
}

.footer p {
  color: white;
  font-size: 13px;
  padding: 0 10px;
  text-align: center;
}

a {
  /* text-decoration: none; */
  color: white;
}
